<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="{{handler}}" class="modal fade">
    <div class="modal-dialog" ng-controller="forgetControoller">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="text-center login-img">
                    <img src="images/logo_gray-blue_80px.svg" />
                </div>
                <h3 class="modal-title headerline-blue">{{header}}</h3>
            </div>
            <div class="modal-body">
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                <form name="form" ng-submit="ForgotPassword()" role="form">
                    <div class="form-group">
                        <label for="username">Enter your user name</label>
                        <input type="text" maxlength="25" name="emailaddress" id="emailaddress" class="form-control" ng-model="emailaddress" required >
                    </div>
                    <div class="form-actions login-btn">
                        <button type="submit" class="button" ng-click="Forgotpwd();" ng-disabled="form.$invalid || dataLoading" >Submit</button>
                         <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>